a, a:visited {
  color: #AF343D;
  text-decoration: none;
  font-weight: bold;
}

#about-content {
  width: 50%;
  float: left;
  padding-top: 2em;
}

#about-image {
  width: 50%;
  float: right;
  text-align: center;
}
