h2 {
  color: #AF343D;
}

a, a:visited {
  color: #AF343D;
  text-decoration: none;
  font-weight: bold;
}

#wacm-image {
  text-align: center;
}

#conf-content {
  width: 50%;
  float: left;
}

#ghc-image {
  width: 50%;
  float: right;
  text-align: center;
}

#gwe-image {
  width: 50%;
  float: left;
  text-align: center;
}

#gwe-android-image {
  text-align: center;
}
