.navbar-items-list {
	margin: 0;
	padding: 7em 0 0 2em;
	list-style-type: none;
	overflow: hidden;
	text-align: left;
	width: 10.5em;
	display: inline-block;
	float: left;
}

.active {
	color: #AF343D;
	text-decoration: overline;
}

.navbar-items-element {
	list-style: none;
	display: inline;
	font-size: 1.25em;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.navbar-items-element a {
	padding: 14px 16px;
	text-align: center;
	line-height: 53px;
}

.navbar-items-element a:not(.active),
.navbar-items-element a:visited:not(.active) {
	color: #444C4C;
	text-decoration: none;
}

.navbar-items-element a:hover:not(.active) {
	text-decoration: overline;
}

.navbar-items-element a,
.navbar-items-element a:hover {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
