body {
	background-color: #f4f4f4;
	font-family: "Source Sans Pro", sans-serif;
	color: #666666;
	/*width: 1920px;*/
	margin: 0 auto;
	text-align: center;
}

.navbar {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  line-height: 0;
  padding: 0;
}

#main-container {
  width: 100%;
  max-width: 1090px;
  margin: auto;
  padding: 0;
}

@media only screen and (max-width: 1345px) {
  #main-container {
    width: auto;;
    margin: 0 3%;
  }
}
